
.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
}
.avatar-container {
    display: flex;
    align-items: center;
    position: relative;
}

/* Messages styling */
.messages {
    overflow-y: auto;
    overflow-x: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100% !important;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    margin-bottom: 5px;
}

.user-message .message-header {
    justify-content: flex-end;
}

.message-name {
    font-weight: bold;
    margin-left: 10px;
    margin-right: 10px;
}
.message-timestamp {
    font-size: 0.75rem;
    color: #888;
    align-self: flex-start;
    margin-left: auto;    
    margin-top: 6px;        
}
.message-container {
    margin-bottom: 15px;
    max-width: 70%;
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
    word-wrap: break-word;
    color: white;
    margin-right: 10px;
}
.user-message {
    background-color: #683B2B;
    align-self: flex-end;
    margin-left: auto;
}
.other-message {
    background-color: #41280f;
    align-self: flex-start;
}

/* Scrollbar width */
.scrollbar::-webkit-scrollbar {
    width: 10px;
}

/* Scrollbar track background */
.scrollbar::-webkit-scrollbar-track {
    background-color: #BFA380;
}

/* Scrollbar thumb with background color and border radius */
.scrollbar::-webkit-scrollbar-thumb {
    background-color: #683B2B; /* Consistent color */
    border-radius: 16px;
}

/* Hover effect for scrollbar thumb */
.scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: #5d2f27; /* Slightly darker for hover effect */
}

/* Optional: Hide scrollbar buttons */
.scrollbar::-webkit-scrollbar-button {
    display: none;
}

/* Firefox specific scrollbar styling */
.scrollbar {
    scrollbar-width: thin; /* Makes scrollbar thinner in Firefox */
    scrollbar-color: #683B2B #BFA380; /* Thumb color then track color */
}

.message-text {
    font-size: 1em;
    margin: 0;
    padding: 5px 0;
}

/* Media Queries for smaller screens and horizontal mobile view */
@media (max-width: 480px) {
    .message-name {
        margin-left: 5px;
        margin-right: 5px;
    }

    .message-text {
        font-size: 0.8em;
    }

    .message-container{
        max-width: 80%;
    }
}

/* Landscape-specific modifications for smaller screens */
@media (max-width: 480px) and (orientation: landscape) {

    .message-container {
        padding: 5px 8px;
        font-size: 0.85em;
    }
}


