.custom-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    color: #333;
    cursor: pointer;
    outline: none;
}
.custom-close-btn:hover {
    color: #000;
    transform: scale(1.1);
}

.custom-alert {
    position: relative;
}

@media (max-width: 480px) {
    .custom-alert {
        width: 100%;
        padding: 0px;
        margin: 0px;
    }
    .alert-button {
        width: 100%;
        font-size: 0.8rem !important;
        border-radius: 10px;
    }
    .title-card-title {
        font-size: 1.25rem !important;
    }

}
