.Dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: linear-gradient(to bottom, #D49E8D, #683B2B);
}

.dashboard-content {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    height:100px;
}

@media (max-width: 480px) {
    .dashboard-content {
        padding: 5px;
        margin: 5px;
    }

}
