.AboutPage {
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #d8a892 0%, #b56f5b 100%);
  height: 100%; /* Make it fill the entire viewport */
  overflow-y: scroll; /* Enable vertical scrolling */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS Safari */
  scrollbar-width: thin; /* Makes the scrollbar thin in Firefox */
  scrollbar-color: #683B2B #BFA380; /* Thumb color and track color for Firefox */
}

.HowAyaBg {
  background-color: #5d2f27 !important;
}

.WhyAyaBg {
  background: linear-gradient(180deg, #d8a892 0%, #b56f5b 100%);
}

.citiesBg {
  background-color: #5d2f27;
}
  
.about-card {
  background-color: #BFA380;
  color: #fff;
  padding: 30px;
}

.about-card-title {
  font-weight: bold;
  margin-bottom: 10px;
}

.about-card-text {
  line-height: 1.4;
}

/* Scrollbar styles for Chrome, Safari, and Opera */
.AboutPage::-webkit-scrollbar {
  width: 10px;
}

.AboutPage::-webkit-scrollbar-track {
  background-color: #BFA380;
}

.AboutPage::-webkit-scrollbar-thumb {
  background-color: #683B2B;
  border-radius: 16px;
}

.AboutPage::-webkit-scrollbar-thumb:hover {
  background-color: #5d2f27;
}

.AboutPage::-webkit-scrollbar-button {
  display: none; /* Hide scrollbar buttons */
}