.dashboard-header {
    background-color: #000000;
    display: flex;
    align-items: center;
    height: 60px;
}
.DashboardLogo {
    fill: #000000;
}
.dashboard-title {
    color: #4a3835;
    font-size: 24px;
    margin: 0;
    text-align: left;
    flex-grow: 1;
}
.dashboard-title h2 {
    margin: 0;
}
/* General reset for focus, active, hover, and other states */
.dashboard-header-button,
.dashboard-header-button:focus,
.dashboard-header-button:focus-visible,
.dashboard-header-button:hover,
.dashboard-header-button:active,
.dashboard-header-button:focus-within,
.dashboard-header-button:target {
    outline: none !important;  /* Ensures no outline is shown */
    border: none !important;   /* Removes any border */
    background: none !important;  /* Keeps background transparent if necessary */
    color: #ffffff !important;   /* Keeps the text color white */
    cursor: pointer !important;  /* Keeps the pointer cursor */
}

/* Optional: you can add specific styling for hover or active if needed */
.dashboard-header-button:hover,
.dashboard-header-button:active {
    background-color: transparent;  /* Custom background for hover or active */
}
